<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h3 class="text-muted">Boh's H2 Physics CIE Papers Topical Sorter</h3>
		<h4><br>Upload CIE papers to get them sorted.<br></h4>
		1. Only <b>structured questions</b> can be sorted. e.g. P2 and P4 of AS Levels.<br>
		2. You can select <b>multiple files</b> throughout all the years.<br>
		3. You may sort O Levels and other exam papers but accuracy may be affected as the syllabus is different even for AS Levels.<br>
		4. Only <b>pdf</b> files allowed. Any other file type will be ignored.
      </div>
      <hr/>
      <div>
      
      <form action="upload" method="post" enctype="multipart/form-data">
        <input type="file" multiple="" name="file[]" class="span3" /><br />
        <input type="submit" value="Upload"  class="span2">
      </form>
      </div>
    </div>
  </body>
</html>
 