<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h3 class="text-muted">Boh's H2 Physics CIE Papers Topical Sorter</h3>
		<h4><br>Upload Physics CIE papers to get them sorted.<br></h4>
		1. Only <b>structured questions</b> can be sorted. e.g. P2 and P4 of AS Levels.<br>
		2. You can select <b>multiple files</b> throughout all the years.<br>
		3. You may sort O Level and other exam papers but accuracy may be affected as the syllabus is different even for AS Level.<br>
		4. Only <b>pdf</b> files allowed. Any other file type will be ignored.<br>
		5. Sorting can take 10 to 20 minutes (or more) if there are 10 years of papers so please be patient.
      </div>
      <hr/>
      <div>
      <form action="upload" method="post" enctype="multipart/form-data">
        <input type="file" multiple="" name="file[]" class="span3" /><br />
        <input type="submit" value="Upload and Start Sorting"  class="span2">
      </form>
	  <hr/>
	  <h4 class="text-muted">H2 Physics Topics Include:</h4>
	  A01 Measurement<br>
	  A02 Kinematics and Dynamics<br>
	  A03 Forces<br>
	  A04 Work Energy Power<br>
	  A05 Gravitational Field<br>
	  A06 Circular Motion<br>
	  B01 Thermal Physics<br>
	  B02 Oscillations<br>
	  B03 Wave and Superposition<br>
	  C01 Electric Field<br>
	  C02 Current of Electricity and DC<br>
	  C03 Electromagnetism<br>
	  C04 Electromagnetic Induction<br>
	  C05 Alternating Current<br>
	  D01 Quantum Physics<br>
	  D02 Nuclear Physics<br><br>
      </div>
    </div>
  </body>
</html>
 