<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h3 class="text-muted">Uploaded files</h3>
      </div>
      <hr/>
      <div>
      List of files uploaded:
      <ul>
        {% for file in filenames %}
          <!--<li><a href="{{url_for('uploaded_file', filename=file)}}">{{file}}</a></li>-->
		  <li>{{file}}</li>
        {% endfor %}
      </ul>
      </div>
      <div class="header">
        <h3 class="text-muted">Sorted Topics</h3>
		<a href="{{url_for('sorted_file', filename=sorted_output)}}">Download sorted_output.zip</a>
		
      </div>
      <hr/>    

      </div>
    </div>
  </body>
</html>
 